<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<filter>
		<filter-name>TokenAuthenticationFilter</filter-name>
		<display-name>TokenAuthenticationFilter</display-name>
		<description></description>
		<filter-class>com.senla.carservice.filter.TokenAuthenticationFilter</filter-class>
	</filter>
	<filter>
		<filter-name>LogOutFilter</filter-name>
		<display-name>LogOutFilter</display-name>
		<description></description>
		<filter-class>com.senla.carservice.filter.LogOutFilter</filter-class>
	</filter>
	<filter>
		<filter-name>AuditFilter</filter-name>
		<display-name>AuditFilter</display-name>
		<description></description>
		<filter-class>com.senla.carservice.filter.AuditFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>TokenAuthenticationFilter</filter-name>
		<servlet-name>GarageServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TokenAuthenticationFilter</filter-name>
		<servlet-name>GaragesServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TokenAuthenticationFilter</filter-name>
		<servlet-name>MasterServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TokenAuthenticationFilter</filter-name>
		<servlet-name>MastersServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TokenAuthenticationFilter</filter-name>
		<servlet-name>OrderServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TokenAuthenticationFilter</filter-name>
		<servlet-name>LogOutServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LogOutFilter</filter-name>
		<servlet-name>LogOutServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuditFilter</filter-name>
		<servlet-name>GarageServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuditFilter</filter-name>
		<servlet-name>GaragesServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuditFilter</filter-name>
		<servlet-name>MasterServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuditFilter</filter-name>
		<servlet-name>MastersServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuditFilter</filter-name>
		<servlet-name>OrderServlet</servlet-name>
	</filter-mapping>
	<servlet>
		<servlet-name>GaragesServlet</servlet-name>
		<display-name>Garages</display-name>
		<description></description>
		<servlet-class>com.senla.carservice.servlet.GaragesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MastersServlet</servlet-name>
		<display-name>Masters</display-name>
		<description></description>
		<servlet-class>com.senla.carservice.servlet.MastersServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MasterServlet</servlet-name>
		<display-name>Master</display-name>
		<description></description>
		<servlet-class>com.senla.carservice.servlet.MasterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderServlet</servlet-name>
		<display-name>Order</display-name>
		<description></description>
		<servlet-class>com.senla.carservice.servlet.OrderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogInServlet</servlet-name>
		<display-name>LogIn</display-name>
		<description></description>
		<servlet-class>com.senla.carservice.servlet.LogInServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogOutServlet</servlet-name>
		<display-name>LogOut</display-name>
		<description></description>
		<servlet-class>com.senla.carservice.servlet.LogOutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegistrationServlet</servlet-name>
		<display-name>Registration</display-name>
		<description></description>
		<servlet-class>com.senla.carservice.servlet.RegistrationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GarageServlet</servlet-name>
		<display-name>GarageServlet</display-name>
		<description></description>
		<servlet-class>com.senla.carservice.servlet.GarageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GaragesServlet</servlet-name>
		<url-pattern>/Garages</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MastersServlet</servlet-name>
		<url-pattern>/Masters</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MasterServlet</servlet-name>
		<url-pattern>/Master</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderServlet</servlet-name>
		<url-pattern>/Order</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogInServlet</servlet-name>
		<url-pattern>/LogIn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogOutServlet</servlet-name>
		<url-pattern>/LogOut</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistrationServlet</servlet-name>
		<url-pattern>/Registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GarageServlet</servlet-name>
		<url-pattern>/Garage</url-pattern>
	</servlet-mapping>
</web-app>
